<?xml version="1.0" encoding="utf-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="./phpunit.php"
         cacheDirectory="tests/_output/.phpunit.result.cache"
         colors="true">
  <coverage>
    <include>
      <directory suffix=".php">src</directory>
    </include>
    <report>
      <clover outputFile="tests/_output/coverage/coverage.xml"/>
      <text outputFile="php://stdout"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="CLI Option Parser Test Suite">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <php>
    <ini name="date.timezone" value="UTC"/>
    <ini name="display_errors" value="on"/>
    <ini name="display_startup_errors" value="on"/>
  </php>
  <logging/>
</phpunit>
